<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Battles</title>
</head>
<body>
  <h1><%= @game.p1.name %> vs <%= @game.p2.name %>!</h1>
  <p>Dave's turn</p>
  <section>
    <p><%= @game.p2.name %> HP: <%= @game.p2.hp %></p>
  </section>
  <form action="/action" method='post'>  
    <button type="submit" name='action' value="Attack made!">Attack</button>
  </form>
  <% if !@result.nil? %> 
    <p><%= @result %></p>
  <% end %>
</body>
</html>
